<%- include('./partials/header') %> 
    <main>
        <h3 class = 'title'>World Total Statistics</h3 class = 'title'>
        <section class = 'totals'>
            <% Object.keys(total).forEach(key => { %>
                <p>Total <%= key.split('Total')[1] %>: <%= total[key] %> </p>
            <% }) %>
        </section>
        <section class = 'formSection'>
            <h3 class = 'title'>Get Statistics for a specific country</h3>
            <form action="/getCountryResult" method="GET">
                <input name = "country" type="text" required>
                <input name = 'from' type="date" required>
                <input name = 'to' type="date" required>
                <button>Search</button>
            </form>
        </section>
        
    </main>
    <footer></footer>
    <script>

    </script>
</body>
</html>