#headerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

nav>a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 0.25% 0.5%;
}

.totals>p{
    padding: 1%;
    background: pink;
}
.cards>h3{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}