<%- include('../partials/header') %>
    <main>
        <section class = 'container'>
            <% data.forEach(time => { %>
                <section class="cards">
                    <h3>Date: <%= time["Date"] %> </h3>
                    <p>Number of confirmed cases: <%= time["Cases"] %> </p>
                </section>
            <% }) %>
        </section>
    </main>
</body>
</html>