<%- include('../partials/header') %>
    <main>
        <% if (records.length) { %>
            <section class = 'container'>
                <% records.forEach(record => { %>
                    <section class = 'cards'>
                        <h3>Country: <%= record.country %> </h3>
                        <p>Date: <%= record.date %> </p>
                        <form action="/myRecords/<%= record.id %>" method="GET">
                            <button>VIEW DETAILS</button>
                        </form>
                    </section> 
                <% }) %>
            </section> 
        <% } else { %>
            <h1>NO AVAILABLE RECORDS</h1>
        <% } %>
    </main>
</body>
</html>